<section class="container-fluid mt-3">
    <div class="row">
        <div class="col-12 col-md-2">
            <img src="assets/images/logo-ladera-1024x261.png" width="180">
        </div>
        <div class="col-12 col-md-10">
            <div class="row">
                <div class="col-12 col-md-10">
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
                        <mat-tab label="Inventory"> 
                            <app-inventory></app-inventory> 
                        </mat-tab>
                        <mat-tab label="Order"> 
                            <app-orders></app-orders>
                        </mat-tab>
                    </mat-tab-group> 
                </div>
                <div class="col-12 col-md-2">
                    <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                            Admin
                        </button>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Customer</a></li>
                        <li><a class="dropdown-item" href="#">User</a></li>
                        <li><a class="dropdown-item" href="#">Roles</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 